@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-page-background">
    <div style="text-align:center; margin-top:30vh;">
        <h1>Welcome, this is home page.</h1>
        @* <h2>Register or Login to see the latest news.</h2> *@
    </div>
</div>
