@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div style="text-align:center; margin-top:30vh;" >
    <h1>This is home page</h1>
    <h2>Register or Login to see the leates news.</h2>

</div>
